# Mock purposes
MOCK_API_URL=https://api-euwest.graphcms.com/v1/cjke2kn7p00ol01d2pinkptdj/master

# APIs
API_URL=YOUR_VALUE

# Firebase
GATSBY_FIREBASE_API_KEY=YOUR_VALUE
GATSBY_FIREBASE_AUTH_DOMAIN=YOUR_VALUE
GATSBY_FIREBASE_DATABASE_URL=YOUR_VALUE
GATSBY_FIREBASE_PROJECT_ID=YOUR_VALUE
GATSBY_FIREBASE_STORAGE_BUCKET=YOUR_VALUE
GATSBY_FIREBASE_MESSAGING_SENDER_ID=YOUR_VALUE
GATSBY_FIREBASE_APP_ID=YOUR_VALUE
GATSBY_FIREBASE_MEASUREMENT_ID=YOUR_VALUE

# Sentry
GATSBY_SENTRY_DSN=YOUR_VALUE

# Analytics
GATSBY_GOOGLE_ANALYTICS_TRACKING_ID=YOUR_VALUE
